@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Smooch+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Smooch Sans", sans-serif;
  font-size: 25px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.chat-container ul li {
  list-style: none;
}
.chat-container ul li a {
  text-decoration: none;
}
.nav-btn {
  display: flex;
  gap: 20px;
}
.login {
  border: none;
  background-color: white;
}
.demo {
  border: none;
  border: 2px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.started {
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 5px;
}
.contact-container {
  text-align: center;
  padding: 50px;
}
.hero-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.chat-container li a {
  color: black;
}
.fname label {
  display: block;
  margin-bottom: 10px;
}
.fname input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.lname label {
  display: block;
  margin-bottom: 10px;
}
.lname input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.form-row {
  display: flex;
  gap: 20px;
}
.mail label {
  display: block;
  margin-bottom: 10px;
}
.mail input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.num label {
  display: block;
  margin-bottom: 10px;
}
.num input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
  width: 100%;
}
.message label {
  display: block;
  margin-bottom: 10px;
}

.message input {
  padding: 40px;
  width: 100%;
  border: none;
  border: 2px solid gray;
  border-radius: 10px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colums */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 10px;
}

.icon {
  margin-right: 4px;
}
.logo-icon {
  margin-right: 10px;
  font-size: 15px;
  align-items: center;
}
/* hide burger */
.menu-icon {
  display: none;
  cursor: pointer;
}
/* hide checkbox */
#menu-toggle {
  display: none;  
}
/* responsve design  */

@media screen and (max-width: 1068px) {
  .hero-container {
    flex-direction: column;
  }
}

@media (max-width: 1068px) {
  .menu-icon {
    display: block;
    margin-left: 70%;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    display: none;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }

  /* show menu when checkbox is checked */
  #menu-toggle :checked ~ nav .nav-links {
    display: flex !important;
    flex-direction: column;
  }

  header .nav-btn {
    display: none;
  }
}
