* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-btn {
  display: flex;
  gap: 20px;
}
.login {
  border: none;
  background-color: white;
}
.demo {
  border: none;
  border: 2px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.started {
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 5px;
}
.contact-container {
  text-align: center;
  padding: 50px;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.fname label {
  display: block;
  margin-bottom: 10px;
}
.fname input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.lname label {
  display: block;
  margin-bottom: 10px;
}
.lname input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.form-row {
  display: flex;
  gap: 20px;
}
.mail label {
  display: block;
  margin-bottom: 10px;
}
.mail input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
}
.num label {
  display: block;
  margin-bottom: 10px;
}
.num input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid gray;
  width: 100%;
}
.message label {
  display: block;
  margin-bottom: 10px;
}

.message input {
  padding: 40px;
  width: 100%;
  border: none;
  border: 2px solid gray;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colums */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 10px;
}
